@page
@model Burger20106733.Pages.Burgers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].BurgerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burger[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Burger) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurgerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.burgerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.burgerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.burgerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
